@font-face {
    font-family: 'alberta';
    src: url(/landing_at/assets/font/UTM\ Alberta\ Heavy.ttf);
}

* {
    margin: 0;
    padding: 0;
}



/* container */
.container {
    background-image: url(/landing_at/assets/img/bg-pc.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background: black;
    height: 100vh;

}

.bg_nav {
    position: fixed;
    width: 100vw;
    height: 3vw;
    background-color: black;
    top: 0;
    left: 0;
    z-index: 1;
}

/* bg_video */
.bg_video {
    width: 100%;
    height: 56vw;
}

/* wrapper */
.wrapper {
    position: relative;
    width: 100%;
    height: 56vw;
}

/* end wrapper */



/* nav */
.nav {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    color: #fff;
    font-size: 1.5vw;
    line-height: 3vw;
    font-weight: 700;
}

.nav-btn img:hover {
    cursor: pointer;
    animation: animate_btn alternate 0.5s linear infinite;

    /* filter: drop-shadow(15px 8px 10px rgb(186, 179, 179)); */
}

.img-nav-fan {
    width: 6vw;
}

.img-nav_chat {
    width: 11.7vw;
}

.img-nav-qltk {
    width: 15vw;
}

.nav_fan {
    line-height: 3.3vw;
    margin-right: 1.2vw;
}

.nav_chat {
    line-height: 3.3vw;

    margin: 0 1.2vw;
}

.nav_qltk {
    line-height: 3.7vw;
    margin-left: 1.2vw;

}


/* NAV MOBILE */
.bg_nav_mb {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 60vw;
    background-color: #2f2d2d;
    z-index: 11;
    transform: translateX(100%);
    transition: all 0.1s linear;
}

.show-nav-mb {
    transform: translateX(0%);
    transition: all 0.15s linear;


}

.close-mb {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 20px;
}

.close-mb img:hover {
    filter: brightness(20%);
}

.open-mb {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;

}

.nav-mb-inner {
    list-style: none;
    position: absolute;
    top: 150px;
    left: 0;
}

.nav-mb-item {
    width: 100vw;
    padding: 30px;
    border-bottom: 1px solid #eee;
}




/* end nav */



/* LOGO */
.logo {
    position: absolute;
    top: 5.5vw;
    right: 18vw;

}

.logo img {
    width: 25vw;
}


/* DATE */

.date {
    position: absolute;
    top: 28vw;
    right: 11.5vw;
}


.date img {
    width: 38vw;
}

/* TRAILER */
.trailer {
    position: absolute;
    top: 32vw;
    left: 44vw;
    animation: animate_btn alternate 0.4s linear infinite;


}

.trailer img {
    width: 6vw;
}



.modalTrailer {
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content-traier {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}


.show-modal-trailer {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.close-button-trailer {
    position: absolute;
    top: 3vw;
    right: 3vw;
    text-align: center;
    cursor: pointer;
}

.iframe {
    width: 60vw;
    height: 34.1vw;
}







/* register */

.user-register {
    position: absolute;
    top: 38.2vw;
    left: 51vw;
}

.user-register img {
    width: 30vw;
}

.inner-user-register {
    position: absolute;
    top: 38.45vw;
    left: 54.4vw;
    color: #fff;
    font-weight: 700;
    font-size: 1.7vw;
}

/* popup */
.trigger {
    position: absolute;
    text-align: center;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: cursive;
    background-color: transparent;
    top: 56.3%;
    left: 61%;
    cursor: pointer;
    animation: alternate 6s linear infinite;
}

.register-img {
    width: 14vw;
}

.trigger:hover {
    filter: saturate(2);

}



.modal {
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}



.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}



.modal-content {
    background-color: transparent;
    text-align: center;
}



.img-popup {
    width: 50vw;
}

.close-button {
    position: absolute;
    top: 3vw;
    right: 3vw;
    text-align: center;
    cursor: pointer;

}

.img-close-button {
    width: 3vw;
}

.img-close-button:hover {
    filter: brightness(20%);
    transition: all 0.2s;
}

.btn-xacnhan {
    position: absolute;
    bottom: 4vw;
    left: 50%;
    transform: translate(-50%);
}

.btn-xacnhan:hover {
    cursor: pointer;
    filter: brightness(130%);
}

.img-btn-xacnhan {
    width: 16vw;
}

.input-email {
    position: absolute;
    top: 15vw;
    left: 11.5vw;
}

.input-email input {
    width: 30vw;
    height: 3vw;
    border-radius: 0.5vw;
    font-size: 2vw;
    padding-left: 1vw;
}

/* trailer */

.codeLuuDanh {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
    display: none;

}

.codeLuuDanh-content {
    width: 30vw;
    height: 17vw;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    color: #000000;
}

.title {
    padding-top: 1vw;
    font-size: 2vw;
    font-weight: 700;
}

.code-group {
    display: flex;
    color: #232323;
    padding: 3vw;
}


.code {
    width: 75%;
    height: 2.8vw;
    background-color: #eee;
    border-radius: 4px;
    font-weight: 700;
    font-size: 2vw;
    text-align: initial;
    text-align: center;

}

.copy {
    width: 25%;
    background-color: #54c8ff;
    font-weight: 700;
    border-radius: 4px;
    font-size: 2vw;
    margin-left: 1vw;

}

.copy:hover {
    background-color: #d6cbcb;
    cursor: pointer;
}


.close-luudanh {

    border-radius: 4px;
    font-weight: 500;
    font-size: 1.2vw;
    color: #000000;
    text-align: end;
    padding-right: 1vw;
    padding-top: 1vw;
    width: 2vw;
    height: 1.5vw;
    margin-left: auto;
}

.close-luudanh:hover {
    cursor: pointer;

}

.close-luudanh img:hover {
    filter: brightness(20%);
    width: 2.2vw;
    transition: all 0.2s;

}

.close-luudanh img {
    width: 2vw;
    height: 1.5vw;

}

.code-title {
    opacity: 0;
}

/* donwload */

.download {
    position: absolute;
    top: 73%;
    left: 40%;
    display: flex;
}

.download-item {
    width: 19vw;
}

.download-item-ios {
    display: none;
}



.download-item:hover {
    cursor: pointer;
    filter: saturate(4);
}


.footer {
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 100%;
    color: #eee;
}

/* end donwload */

/* footer */

.footer {
    text-align: center;
    padding-top: 4vw
}

/* end footer */



/*  ANIMATE	 */
@keyframes animate_btn {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1.1);
    }
}





@media only screen and (max-width: 768px) {

    .container {
        background-color: black;
        height: 100vh;
        background-image: url(/landing_at/assets/img/bg_m.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }


    .wrapper {
        height: 1015px;
    }

    .bg_video {
        display: none;
    }

    .bg_nav {
        display: none;
    }

    .date {
        top: 98vw;
        right: 5vw;
    }

    .date img {
        width: 90vw;
    }

    .trailer {
        top: 110vw;
        left: 21vw;
    }

    .trailer img {
        width: 11vw;
    }

    .trigger {
        top: 682px;
        left: 47%;
    }

    .register-img {
        width: 36vw;
    }

    .user-register {
        transform: rotate(2deg);
        top: 124.2vw;
        left: 2vw;
    }

    .logo {
        display: none;
    }

    .user-register img {
        width: 93vw;
    }

    .inner-user-register {
        transform: rotate(2deg);

        top: 123.45vw;
        left: 11.4vw;
        font-size: 6vw;
    }


    .download {
        top: 879px;
        left: 10%;
    }

    .download-item-pc {
        display: none;
    }


    .download-item-apk {
        display: none;
    }

    .download-item-ios {
        display: block;
    }

    .download-item {
        width: 42vw;
    }


    .iframe {
        width: 565px;
        height: 321px;
    }


    .img-popup {
        width: 543px;
    }

    .img-close-button {
        width: 48px;
    }

    .input-email input {
        width: 300px;
        height: 40px;
    }

    .input-email {
        top: 152px;
        left: 134px;
    }

    .img-btn-xacnhan {
        width: 224px;
    }

    .btn-xacnhan {
        position: absolute;
        bottom: 50px;
    }

    .codeLuuDanh-content {
        min-width: 477px;
        min-height: 277px;
    }

    .title {
        font-size: 5vw;
    }

    .code {
        font-size: 5vw;
        height: 7.8vw;
    }

    .copy {
        font-size: 5vw;
    }

    .close-luudanh img {
        width: 6vw;
        height: 5.5vw;
    }

    .close-luudanh {
        padding-right: 6vw;
    }

    .footer {
        /* display: none; */
    }



}